{% extends 'base.html' %}

{% block title %}Bookpyper{% endblock %}

{% block content %}
	<div>
		<form method="post" enctype="multipart/form-data" action="upload" id="set_image">
			<input type="file" id="file" name="file">
			<input type="submit" value="Upload">
		</form>

		<button type="button" id="add" name="add">+</button>
		<button type="button" id="remove" name="remove">-</button>
		<button type="button" id="find" name="find">Find rectangles</button>
	</div>

	<div id="container"></div>
	
	<div id="loading"></div>
	
	<script src='/static/js/image.js'></script>
{% endblock %}
