{% extends 'base.html' %}

{% block title %}Bookpyper{% endblock %}

{% block content %}
	<div>
		<input type="file" id="file" name="file">
	</div>

	<div>
		<button type="button" id="add" name="add">+</button>
		<button type="button" id="remove" name="remove">-</button>
		<button type="button" id="find" name="find">Find rectangles</button>
	</div>
	
	<div>
		<button type="button" id="OCR" name="OCR">Do OCR</button>
		<button type="button" id="books" name="books">Find books</button>
	</div>

	<div id="container"></div>
	
	<div id="loading"></div>
	
	<script src='/static/js/image.js'></script>
{% endblock %}
